.footer-links-container {
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 30%;
}

.footer-images {
  max-height: 50px;
}

@media screen 
  and (min-device-width: 770px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .footer-links-container {
      max-width: 70%;
      margin-top: 35px;
    }
}