.footer-text {
  color: rgb(85, 85, 85)
}



@media screen 
  and (min-device-width: 770px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .footer-mobile-show {
      display: none;
    }

    .footer-container {
      position: fixed;
      left: 50%;
      margin-left: -125px;
    }
}