.header-link {
  text-decoration: none;
  color: rgb(85, 85, 85);
  margin: 0 auto;
}

.header-container {
  display: flex;
  color: rgb(85, 85, 85);
  justify-content: space-between;
  position: relative;
}

.header-occupation {
  margin: 0 0 40px 0;
  color: rgb(85, 85, 85);
}

.header-dropdown-menu {
  background-color: white;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.header-dropdown-menu-links {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: x-large;
}

.header-dropdown-menu > p {
  font-size: x-large;
  color: rgb(148, 144, 144);
  margin: 10px auto;
}

hr {
  max-width: 80% ;
}

.header-hide-dropdown {
  display: none;
}

.hamburger { 
  position: fixed;
  right: 0;
}

@media screen 
  and (min-device-width: 770px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .hamburger-box {
      display: none;
    }
    .header-dropdown-menu {
      display: none;
    }

    .header-occupation {
      font-size: 30px;
    }

    .header-link {
      font-size: 35px;
    }
}

@media screen 
  and (min-device-width: 415px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .header-occupation {
      font-size: 30px;
    }
}