 .home-media-query-desktop {
   display: flex;
 }

 .home-desktop-links {
  display: none;
}

.home-desktop-links > p {
  font-size: x-large;
  color: rgb(148, 144, 144);
  margin: 10px auto;
}

 @media screen 
  and (min-device-width: 770px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .home-media-query-desktop {
      margin-bottom: 90px;
    }
    
    .home-desktop-links {
      width: 50%;
      display: block;
    }

    .home-projects-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .home-projects-links {
      width: 45%;
    }
}