.project-details-title {
  color: rgb(85, 85, 85)
}

.project-details-title-link {
  color: rgb(85, 85, 85)
}

.project-details-info {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  color: rgb(85, 85, 85)
}

.project-details-tech-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 80px 0;
}

.project-details-tech-images {
  max-height: 50px;
}